RewriteEngine on

Header set Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET"

RewriteCond %{HTTPS} !=on
RewriteRule . https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*)\.(gif|jpe?g|png|svg|js|css|map|ttf|ico)$ $0 [L,QSA]
RewriteRule google38e1f0ae1b736b46\.html $0 [L,QSA]
RewriteRule . index.php [QSA,L]