.skill .delete {
    display: none;
}

.skill:hover .delete {
    display: block;
}

.skill.add-entry {
    cursor: pointer;
}

.add-skill-btn {
    float: none;
    width: auto;
    margin-top: 0;
    line-height: 13px;
}

form.add-skill-section, form.add-language-section {
    margin-top: 15px;
    width: auto;
}

#Add-skill, #Add-language, #Add-link {
    float: left;
}

#Add-link {
    height: 31px;
}

.social-contact-li .delete {
    top: auto;
    right: auto;
    left: 46px;
}

.social-contact-li:hover .delete {
    display: block;
}

.profile-info-left {
    padding-left: 0;
}

.profile-info-left li {
    padding-left: 20px;
}

.modal-createProject {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .45);
}

.modal-createProject.bg-blur {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}

.contributor-col:hover .delete {
    display: block;
}

.contributor-name {
    min-width: 100px;
}

.delete {
    top: 0;
    right: 0;
    z-index: 1000;
}

.add-post-modal {
    background-color: #F0F0F0;
}

.current-status p {
    color: inherit;
}

.add-post-modal {
    width: 585px;
}

.alphabet-link.selected {
    background: rgba(255, 255, 255, 0.4);
    color: #F3F3F3;
}

.modal-push-buttons .w-tab-content .w-tab-pane,
.modal-push-buttons .w-form.login-form,
.modal-push-buttons .w-tab-screen,
.modal-push-buttons .w-form.login-form form {
    height: 100%;
}

.modal-push-buttons .w-form.login-form form {
    position: relative;
}

.modal-push-buttons .modal-footer {
    position: absolute;
    width: 100%;
    bottom: 100px;
}

.reply-input {
    display: block;
}

.card-slim-h2 {
    font-size: 16px;
    line-height: 21px;
    max-height: 40px;
    overflow: hidden;
}

.hp-post-link {
    margin-bottom: 20px;
}

.dashboard-stats {
    width: 400px;
}

.homePageColours a{
    color:white;
}
.homePageColours a:hover{
    color:#fff1fa;
}

.dsi-button.story-image-upload {
    margin-bottom: 20px;
}

.sweet-alert button.cancel {
    
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 140px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

a.login-modal-back {
    position: absolute;
    top: 30px;
    left: 30px;
}

.modal-content {
    height: 580px;
}

.remove-from-list{
    display:none;
}